<html xmlns:th="http://www.thymeleaf.org"> 

<head th:fragment="htmlhead">

<meta charset="utf-8"></meta>

<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>

<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta> <!-- site scales depending on device viewing site -->

<meta name="description" content=""></meta>

<meta name="author" content=""></meta>

<title th:text="${title}"></title>

<link type="text/css" rel="stylesheet"
 href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>

<body>

<div th:fragment="navbar" class="navbar navbar-inverse navbar-fixed-top" role="navigation">

<div class="container-fluid">

<div class="navbar-header">

<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">

<span class="sr-only">Toggle navigation</span>

<span class="icon-bar"></span>

<span class="icon-bar"></span>

<span class="icon-bar"></span>

<span class="icon-bar"></span>

<span class="icon-bar"></span>

<span class="icon-bar"></span>

</button> 

<a class="navbar-brand" href="#">Cooper-Hewitt</a>

</div>

<div class="collapse navbar-collapse">

<ul class="nav navbar-nav">

<li class="active"><a href="/home">Home</a></li>

<li><a href="/cho/listall">CH Objects</a></li>

<li><a href="/participants/listall">Participants</a></li>

<li><a href="/roles/listall">Roles</a></li>

<li><a href="#about">About</a></li>

<li><a href="#contact">Contact</a></li>

</ul>

</div>

</div>

</div>

<!-- <div class="container">

<div class="hero-unit">
<h1>  </h1>


<p class="lead" th:text="${greeting}">(greeting)</p>

</div>

</div> -->

<div th:fragment="footer" id="footer">

<div class="container">

<!-- <p class="muted credit">Spring MVC/Thymeleaf/Bootstrap Project Template by Craig Walls.</p> -->
&copy; 2015 Cloud Application Frameworks Group 1

</div>



</div>

</body>

 

</html>