<!DOCTYPE html>
<html>

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:4px 20px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:4px 20px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-7d0f{font-weight:bold;font-size:24px;font-family:"Lucida Console", Monaco, monospace !important;;background-color:#656565;color:#ffffff}
.tg .tg-mg9w{font-weight:bold;font-size:22px;font-family:"Lucida Console", Monaco, monospace !important;;background-color:#000000;color:#ffffff}
.tg .tg-04qs{font-weight:bold;font-size:22px;font-family:"Lucida Console", Monaco, monospace !important;;background-color:#333333;color:#ffffff}
.tg .tg-58l0{font-size:20px;font-family:"Lucida Console", Monaco, monospace !important;;background-color:#656565;color:#ffffff}
.tg .tg-2ti2{font-weight:bold;font-size:18px;font-family:"Lucida Console", Monaco, monospace !important;;background-color:#656565;color:#ffffff}
.tg .tg-pom9{font-weight:bold;font-size:24px;font-family:"Lucida Console", Monaco, monospace !important;;background-color:#656565;color:#ffffff;text-align:center}
.tg .tg-ze8t{font-weight:bold;font-size:20px;font-family:"Lucida Console", Monaco, monospace !important;;background-color:#656565;color:#ffffff}
</style>

<head>
<meta charset="ISO-8859-1">
<title>LEADERBOARD</title>
</head>
<body>

<table class="tg">
  <tr>
    <th class="tg-04qs">RANK</th>
    <th class="tg-mg9w">USERNAME</th>
    <th class="tg-04qs">POINTS</th>
  </tr>
  <tr>
    <td class="tg-ze8t">1</td>
    <td class="tg-pom9">jjs4art</td>
    <td class="tg-ze8t">750</td>
  </tr>
  <tr>
    <td class="tg-ze8t">2</td>
    <td class="tg-7d0f">maryb</td>
    <td class="tg-ze8t">700</td>
  </tr>
  <tr>
    <td class="tg-ze8t">3</td>
    <td class="tg-7d0f">dave66</td>
    <td class="tg-2ti2">600</td>
  </tr>
  <tr>
    <td class="tg-ze8t">4</td>
    <td class="tg-7d0f">paintr</td>
    <td class="tg-ze8t">550</td>
  </tr>
  <tr>
    <td class="tg-58l0">5</td>
    <td class="tg-7d0f">spbd15</td>
    <td class="tg-ze8t">500</td>
  </tr>
</table>

</body>
</html>