<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Cultural Heritage Object</title>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap-theme.min.css" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!-- <script type="text/javascript">
$(function() {
$( "#dialog" ).dialog();
$("#view").click(function(){          
       var id=${cho.id};
       var title=${cho.title};
       var date=${cho.date}
       var url="/cho/view/id/"+id+"/title/"+title;       
});
});
</script> -->
</head>

<body>
<div th:replace="layout :: navbar">(navbar)</div>
	<p></p>
	



<div class="container">
  <h2>CH Object</h2>
  
  
  <form th:object="${cho}" role="form" >
  </form>
  
  <!-- ID IS DiSPLAYING NOTHING ELSE -->
  <p th:text="${id}" ></p>
  <p th:text="${chobject.title}" ></p>
  <p th:text="${chobject.date}" ></p>
  <p th:text="${chobject.medium}" ></p>
  <p th:text="${chobject.creditline}" ></p>
  <p th:text="${chobject.description}" ></p>
  <p th:text="${chobject.gallery_text}" ></p>
   <!-- <p th:text="${chobject.image.image_no}" ></p> -->

  <p></p>            
  
  
 <!--  TABLE WONT BE USED JUST TRYING TO DISPAY DATA -->
  <table class="table table-bordered table-hover">
  <thead>
      <tr>
      	<th>ID</th>
        <th>Title</th>
        <th>Date</th>
        <th>Medium</th>
        <th>Credit Line</th>
        <th>Description</th>
        <th>Gallery Text</th>
      </tr>
    </thead>
    <tbody>
  <tr>
  	  <td th:text="${id}"></td>
      <td th:text="${title}"></td>
      <td th:text="${date}"></td>
      <td th:text="${medium}"></td>
      <td th:text="${creditline}"></td>
      <td th:text="${description}"></td>
      <td th:text="${gallery_text}"></td>
      
</tr>
</tbody>
</table>
</div>
<div th:include="layout :: footer" id="footer">(footer)</div>

</body>
</html>    